<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- OPENGRAPH SHARE -->
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://nertravel.hu">
  <meta property="og:title" content="Nertravel">
  <meta property="og:description" content="Folyamatosan frissülő, naprakész nyilvántartás arról, hogy hol vannak most éppen a fideszes elit kedvenc luxusjárművei. A dátumokra kattintva megnézheted azt is, hogy merre jártak az elmúlt egy évben.">
  <meta property="og:locale" content="hu_HU">
  <meta property="og:image" content="https://nertravel.atlatszo.hu/dist/<%= require('./images/share/facebook.jpg')%>">
  <meta property="article:publisher" content="https://www.facebook.com/atlatszo">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Atlatszo">
  <meta name="twitter:image" content="https://nertravel.atlatszo.hu/dist/<%= require('./images/share/twitter.jpg')%>">
  <meta property="fb:app_id" content="345585816190715">
  <meta name="description" content="">
  <title>Nertravel</title>
  <link rel="stylesheet" type="text/css" media="screen" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
  <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700" rel="stylesheet"> 
</head>
<body>
  <div class="container">
    <header>
      <h1 class="logo">
        <img src="dist/<%= require('./images/nertravel_fej.svg') %>" alt="Nertravel">
      </h1>
    </header>
    <p class="description">
      Folyamatosan frissülő, naprakész nyilvántartás arról, hogy hol vannak most éppen a fideszes elit kedvenc luxusjárművei.
      <br>
      A dátumokra kattintva megnézheted azt is, hogy merre jártak az elmúlt egy évben.
    </p>
    <div class="social-buttons">
      <button type="button" class="social-button facebook"><img src="dist/<%= require('./images/facebook.svg') %>" alt="facebook megosztás"></button>
      <button type="button" class="social-button tumblr"><img src="dist/<%= require('./images/tumblr.svg') %>" alt="tumblr megosztás"></button>
      <button type="button" class="social-button twitter"><img src="dist/<%= require('./images/twitter.svg') %>" alt="twitter megosztás"></button>
    </div>
    <div class="inline vehicle-container">
      <div class="vehicle plane">
        <p>Az OE-LEM jelzésű repülőgép helyzete:</p>
        <div class="img-container">
          <img src="dist/<%= require('./images/repulo.svg') %>" alt="repülő">
        </div>
        <div class="datepicker-button-container">
          <p class="call-to-action">válassz dátumot</p>
          <button class="datepicker-modal-button" type="button"></button>
        </div>
        <div class="datepicker-modal">
          <div class="datepicker-input datepicker-input-from">
            <label>Ettől</label>
            <input type="text" class="datepicker-from">
          </div>
          <div class="datepicker-input datepicker-input-to">
            <label>Eddig</label>
            <input type="text" class="datepicker-to">
          </div>
          <div class="datepicker-input">
            <button class="datepicker-search" type="button">Keresés</button>
          </div>
        </div>
        <br>
        <p class="highlighted location"></p>
      </div>
      <div class="vehicle yacht">
        <p>A Lady Mrd jelzésű jacht helyzete:</p>
        <div class="img-container">
          <img src="dist/<%= require('./images/jacht.svg') %>" alt="yacht">
        </div>
        <br>
        <p class="highlighted location"></p>
      </div>
    </div>
    <footer>
      <a href="https://atlatszo.hu" target="_blank" rel="noopener">
        <img src="dist/<%= require('./images/atlatszo.jpg') %>" alt="Átlátszó">
      </a>
    </footer>
  </div>
  <div id="map"></div>
  <div class="container">
    <div class="articles">
      <h2>Kapcsolódó cikkek</h2>
      <a href="https://blog.atlatszo.hu/2018/11/nem-indul-vagyonnyilatkozati-eljaras-orban-viktor-ellen-a-luxusrepulozes-miatt/" target="_blank" rel="noopener">Nem indul vagyonnyilatkozati eljárás Orbán Viktor ellen a luxusrepülőzés miatt</a>
      <a href="https://blog.atlatszo.hu/2018/11/tegnap-belgradban-jart-az-orban-altal-is-hasznalt-osztrak-maganrepulogep/" target="_blank" rel="noopener">Tegnap Belgrádban járt az Orbán által is használt osztrák magánrepülőgép</a>
      <a href="https://atlatszo.hu/2018/10/30/titkoljak-hogy-legutobb-mivel-ment-orban-meccset-nezni-de-nekunk-van-egy-tippunk/" target="_blank" rel="noopener">Titkolják, hogy legutóbb mivel ment Orbán meccset nézni, de nekünk van egy tippünk</a>
      <a href="https://blog.atlatszo.hu/2018/10/minosegi-ujsagirasert-dijat-kapott-az-atlatszo-maganrepulogepes-luxusjachtos-nyomozasa/" target="_blank" rel="noopener">Minőségi Újságírásért Díjat kapott az Átlátszó magánrepülőgépes-luxusjachtos nyomozása</a>
      <a href="https://atlatszo.hu/2018/10/10/garancsi-istvanra-nagyon-hasonlito-utas-is-jart-a-lady-mrd-luxusjacht-fedelzeten-iden-majusban/" target="_blank" rel="noopener">Garancsi Istvánra nagyon hasonlító utas is járt a Lady Mrd luxusjacht fedélzetén idén májusban</a>
      <a href="https://atlatszo.hu/2018/09/28/hetfon-este-meszaros-lorinc-es-az-osztrak-luxusrepulo-is-londonban-volt-orban-nem/" target="_blank" rel="noopener">Hétfőn este Mészáros Lőrinc és az osztrák luxusrepülő is Londonban volt, Orbán nem</a>
      <a href="https://adatujsagiras.atlatszo.hu/2018/09/28/tablazatos-formaban-is-kozzetesszuk-a-lady-mrd-es-az-oe-lem-korabbi-utvonalait/" target="_blank" rel="noopener">Táblázatos formában is közzétesszük a Lady Mrd és az OE-LEM korábbi útvonalait</a>
      <a href="https://adatujsagiras.atlatszo.hu/2018/09/26/igy-keszultek-az-orbanhoz-es-meszaroshoz-kotheto-maganrepulorol-es-luxusjachtrol-szolo-cikk-interaktiv-terkepei/" target="_blank" rel="noopener">Így készültek az Orbánhoz és Mészároshoz köthető magánrepülőről és luxusjachtról szóló cikk interaktív térképei</a>
      <a href="https://blog.atlatszo.hu/2018/09/egy-tenyfeltaro-cikk-muhelytitkai-honnan-tudjuk-hol-nyaraltak-iden-nyaron-nagyjaink/" target="_blank" rel="noopener">Egy tényfeltáró cikk műhelytitkai: honnan tudjuk, hol nyaraltak idén nyáron nagyjaink?</a>
      <a href="https://atlatszo.hu/2018/09/24/orban-viktor-a-maganrepulogep-a-luxusjacht-es-a-meszaros-klan-tudjuk-hol-nyaraltak-iden-nyaron/" target="_blank" rel="noopener">Orbán Viktor, a magánrepülőgép, a luxusjacht, és a Mészáros-klán – tudjuk, hol nyaraltak idén nyáron</a>
    </div>
  </div>
  <div class="modal-background"></div>
  <img class="loader" src="dist/<%= require('./images/loader.gif') %>" alt="loader gif">
  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA123YaP73NYnvT_V8FWGntzY7dsN-47Ek&callback=initMap"
  async defer></script>

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-48920123-31"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-48920123-31');
  </script>
</body>
</html>