<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- OPENGRAPH SHARE -->
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://nertravel.atlo.team">
  <meta property="og:title" content="Nertravel">
  <meta property="og:description" content="Folyamatosan frissülő, naprakész nyilvántartás arról, hogy hol vannak most éppen a fideszes elit kedvenc luxusjárművei. A dátumokra kattintva megnézheted azt is, hogy merre jártak az elmúlt egy évben.">
  <meta property="og:locale" content="hu_HU">
  <meta property="og:image" content="https://nertravel.atlo.team/dist/<%= require('./images/share/facebook.jpg')%>">
  <meta property="article:publisher" content="https://www.facebook.com/atlatszo">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Atlatszo">
  <meta name="twitter:image" content="https://nertravel.atlo.team/dist/<%= require('./images/share/twitter.jpg')%>">
  <meta property="fb:app_id" content="345585816190715">
  <meta name="description" content="">
  <title>Nertravel</title>
  <link rel="stylesheet" type="text/css" media="screen" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
  <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700" rel="stylesheet"> 
</head>
<body>
  <div class="container">
    <header>
      <h1 class="logo">
        <img src="dist/<%= require('./images/nertravel_fej.svg') %>" alt="Nertravel">
      </h1>
    </header>
    <p class="description">
      Folyamatosan frissülő, naprakész nyilvántartás arról, hogy hol vannak most éppen a fideszes elit kedvenc luxusjárművei.
      <br>
      A dátumokra kattintva megnézheted azt is, hogy merre jártak az elmúlt egy évben.
    </p>
    <div class="social-buttons">
      <button type="button" class="social-button facebook"><img src="dist/<%= require('./images/facebook.svg') %>" alt="facebook megosztás"></button>
      <button type="button" class="social-button tumblr"><img src="dist/<%= require('./images/tumblr.svg') %>" alt="tumblr megosztás"></button>
      <button type="button" class="social-button twitter"><img src="dist/<%= require('./images/twitter.svg') %>" alt="twitter megosztás"></button>
    </div>
    <div class="inline">
      <div class="vehicle plane">
        <p>Az OE-LEM jelzésű repülőgép helyzete:</p>
        <div class="img-container">
          <img src="dist/<%= require('./images/repulo.svg') %>" alt="repülő">
        </div>
        <p class="call-to-action">válassz dátumot</p>
        <input type="text" class="plane-datepicker">
        <br>
        <p class="highlighted location"></p>
      </div>
      <div class="vehicle yacht">
        <p>A Lady Mrd jelzésű jacht helyzete:</p>
        <div class="img-container">
          <img src="dist/<%= require('./images/jacht.svg') %>" alt="yacht">
        </div>
        <div class="yacht-datepicker"></div>
        <br>
        <p class="highlighted location"></p>
      </div>
    </div>
    <footer>
      <a href="https://atlatszo.hu" target="_blank" rel="noopener">
        <img src="dist/<%= require('./images/atlatszo.jpg') %>" alt="Átlátszó">
      </a>
      <a href="https://atlo.team" target="_blank" rel="noopener">
        <img src="dist/<%= require('./images/atlo.jpg') %>" alt="Átló">
      </a>
    </footer>
  </div>
  <div id="map"></div>
  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA123YaP73NYnvT_V8FWGntzY7dsN-47Ek&callback=initMap"
  async defer></script>

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-48920123-31"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-48920123-31');
  </script>
</body>
</html>