*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'PT Serif', serif;
  padding-top: 50px;
}

header {
 height: auto;
 margin-bottom:  30px;
 text-align: center;
}

header img {
  width: 100%;
  max-width: 780px;
  height: auto;
  padding: 20px 10px;
}

.description {
  margin: 30px 0;
  font-size: 18px;
  line-height: 28px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}


.social-buttons {
  display: flex;
  margin-top: 30px;
}

.social-button {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.social-button.tumblr img,
.social-button.tumblr svg {
  width: 35px;
  height: 37px;
}

.social-button.facebook img,
.social-button.facebook svg {
  width: 24px;
  height: 37px;
}

.social-button.twitter img,
.social-button.twitter svg {
  width: 35px;
  height: 35px;
}

.inline {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.inline > div {
  width: calc(50% - 20px);
  max-width: 540px;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 320px;
  margin-bottom: 30px;
  padding: 30px;
}

.yacht img,
.yacht svg,
.plane img,
.plane svg {
  display: block;
}

.yacht p,
.plane p {
  font-family: 'PT Serif', serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 30px;
}

.yacht {
  background: url('./images/sarga_paca.png') top center no-repeat;
  padding-left: 20px;
}

.plane {
  background: url('./images/kek_paca.png') top center no-repeat;
  padding-right: 20px;
}

p.highlighted {
  display: inline-block;
  height: 37px;
  background: #e6e6e6;
  line-height: 27px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.vehicle-container {
  position: relative;
}

.vehicle {
  text-align: center;
}

.vehicle .call-to-action {
  padding-top: 0;
  color: black;
  font-family: "PT Serif", serif;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  line-height: 30px;
  padding-top: 0;
}

.call-to-action img {
  display: none;
}

.datepicker-button-container {
  position: absolute;
  left: calc(50% - 128px);
  bottom: 0;
  width: 256px;
  text-align: center;
}

.datepicker-modal-button {
  display: inline-block;
  height: 37px;
  background: #e6e6e6;
  border: 0;
  color: black;
  font-family: 'PT Serif';
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 0;
  padding: 5px 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 350px;
  margin: 60px auto;
}

footer img {
  width: 125px;
}

#map {
  width: 100%;
  height: 800px;
  border-top: 2px solid black;
}

.modal-background {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, .6)
}

.datepicker-modal {
  display: none;
  position: fixed;
  z-index: 2;
  top: 25%;
  left: calc(50% - 300px);
  width: 600px;
  height: 300px;
  background: white;
  padding: 20px;
  text-align-last: left;
}

.datepicker-modal p {
  padding-top: 0;
}

.datepicker-inline {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}

.datepicker-input-to .datepicker-inline {
  z-index: 1;
}

.datepicker-input {
  width: 250px;
  margin-bottom: 15px;
}

.datepicker-input:last-of-type {
  text-align: center;
}

.datepicker-input label {
  display: inline-block;
  width: 50px;
  font-family: 'PT Serif', serif;
}

.datepicker-input input {
  padding: 5px;
}

.datepicker-search {
  margin-top: 15px;
  border: 0;
  background: #5cc4ef;
  border-radius: 5px;
  color: white;
  padding: 10px 15px;
}

@media (max-width: 1000px) {
  body {
    padding: 15px 0;
  }

  header {
    margin-bottom: 0;
  }

  .description {
    margin: 15px 0;
  }

  .container {
    padding: 0 10px;
  }

  .inline {
    flex-wrap: wrap;
  }

  .inline > div {
    width: 100%;
    max-width: 100%;
  }

  .social-buttons {
    margin-top: 15px;
  }

  .plane {
    padding-right: 0;
  }

  .yacht {
    padding-left: 0;
  }

  .img-container img,
  .img-container svg {
    width: 100%;
  }

  p.highlighted {
    padding: 5px;
  }

  .date-select {
    font-size: 13px;
  }

  .date-select img {
    width: 30px;
  }
}

@media (max-width: 767px) {
  .datepicker {
    margin-left: 50px;
  }
}
